*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  overflow: hidden;
  background-color: #000;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}
